.statistics {
  width: 335px;
  margin: auto;
  border: solid 1px rgb(211, 221, 221);
  background-color: aqua;
}

.title {
  font-size: 16p;
  color: #333333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.statList {
  height: 60px;
  display: flex;
  list-style: none;
  margin: 0 50px 0 0;
  padding-bottom: 50px;
}

.item {
  width: 70px;
  border: solid 1px teal;
}

.label {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}

.percentage {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
}
